body{
    background-color: rgb(255, 244, 231);  
}
.header-hover:focus{
    border: 1px solid rgb(252, 217, 191);
    border-radius: 5px;
}
.header-1{
    position: fixed;
    top: 0;
    z-index:50;
}
.call{
    background-color: rgba(247, 216, 179, 0.3);
    box-shadow: 1px 1px 1px 1px rgb(247, 207, 174) , -1px -1px 1px 1px rgb(247, 207, 174);
}
.icons{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 190px;
    right: 0;
    z-index:100;
}
.i1:hover{
    opacity: 0.5;
}
.line-end{
    border-right: 1px solid rgb(252, 217, 191);
}
.back{
    height: 300px;
    background-image: url(../img/3a81c39daa49277d54de23288c56f82d.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover; 
    background-position: center;
}
.back2{
    background-image: url(../img/9fb118d3d637cf3ac9bba3343ac52e69.jpg);
}
.b1{
margin-left:130px;
}
.imgs{
box-shadow: 10px 9px 10px 1px rgba(2, 2, 2, 0.425);
}
.imgs::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgb(250, 214, 172);
    opacity: 0;
}
.imgs:hover::after{
    height: 100%;
    width: 100%;
    opacity: 0.2;
    transition: 1s;
}
.imgs::before{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(247, 162, 5);
    opacity: 0;
}
.imgs:hover::before{
    height: 100%;
    width: 100%;
    opacity: 0.2;
    transition: 1s;
}
.thanks-img{
    width: 250px;
    height: 310px;
    background-image: url(../img/e6f3a87b03788d3ce50d33ab2d396032.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    position: relative;
    transition: all 0.5s;
    transform: scale(1,1);
}
.thanks-img:hover{
    transform:scale(0.9,0.9);
}
.thanks-img:hover .title{
    transform: translateY(10px);
    transition: 0.5s;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
.contant-img{
    width: 90px;
    height: 125px;
    border-radius: 50px;
}
.thanks-img2{
        background-image: url(../img/6acb15c9208595caa8454f7d97b900e5.jpg);
}
.thanks-img3{
        background-image: url(../img/70c5ca2bf7b8f94b0a59b3e0d23a4506.jpg);
}
.img-end{
    width: 820px;
    height: 59.1%;
    clip-path: polygon(0 0, 92% 0,100% 100%,0 100%);
    background-color: white;
} 
 .zozo{
    width: 350px;
    height: 59%;
}
@media (max-width:567px){
.img-end{
    clip-path: none !important;
    width: 100%;
}
.zozo{
width: 100%;
}
}
.photo:hover{
    opacity: 0.5;
}
.link{
    box-shadow: 10px 9px 10px 1px rgba(2, 2, 2, 0.425);
    border:1px solid rgb(247, 145, 67) ;
    
 } 
.link:hover{
    transform: scale(1.09,1.09);
    transition: 0.5s;
} 
.new{
    width: 210px;
    height: 130px;
}
.image{
    overflow: hidden;
    z-index: 1;
    height: 355px;
}
.image img{
    transition: 0.5s;
}
.custom:hover .image img{
    transform: scale(1.1);
}
.text-side{
    position: relative;
    z-index: 2;
    margin-left: -80px;
    clip-path: polygon(10% 0,100% 0,100% 100%,0 100%);
}
.text-side2{
    position: relative;
    z-index: 2;
    left: 67px;
    clip-path: polygon(0 0, 92% 0,100% 100%,0 100%);
}
.divprog{
    width: 105px;
    height: 8px;
    border-radius: 10px;
}
.prog{
    border-radius: 10px;
    animation-name: changes;
    animation-duration: 2s;
    animation-timing-function: linear;
}
@keyframes changes{
    0%{
        width: 25%;
    }
    50%{
width: 50%;
    }
    100%{
        width: 100%;
    }
}
@media (max-width:567px){
    
.text-side{
    clip-path: none !important;
    margin-left: 0;
    padding: 20px;
}
.text-side2{
    clip-path: none !important;
    left: 0;
    padding: 20px;
}}
